$black: #000;
$black-1: #222222;
$black-2: #5f5f5f;
$grey: #868686;
$grey-1: #b7b7b7;
$grey-2: #e0e0e0;
$white: #ffffff;
$white-1: #fcfcfc;
$white-2: #f4f4f4;
$main: #34C0E3;
$main-1: #268CA6;
$main-2: #53d3f3;
$main-3: #85e6fe;
$main-4: #afefff;
$main-5: #ddf8ff;
$main-6: #eefdff;
$primary: #EB3E91;
$primary-1: #CD2676;
$primary-2: #FA52A3;
$primary-3: #FF73B6;
$primary-4: #F798C5;
$primary-5: #FFBADB;
$primary-6: #FFE3F1;
$succes: #1AC654;
$succes-1: #59DA85;
$succes-2: #8DF1AF;
$succes-3: #CCFFDD;
$warning: #FFBC39;
$warning-1: #FFCF73;
$warning-2: #FFE6B7;
$warning-3: #FFF2D9;
$error: #DC0707;
$error-1: #F85353;
$error-2: #FF8A8A;
$error-3: #FFD3D3;
$green: #44D02E;
$green-1: #2AA616;
$green-2: #5DE747;
$green-3: #93FD82;
$green-4: #B8FDAD;
$green-5: #D4FFCD;
$green-6: #EAFFE6;
$blue: #202FEE;
$blue-1: #09128B;
$blue-2: #4B58F8;
$blue-3: #747EFF;
$blue-4: #9DA4FF;
$blue-5: #C0C5FF;
$blue-6: #E4E6FF;
$orange: #EE7620;
$orange-1: #AD5C21;
$orange-2: #FF9141;
$orange-3: #FFAB6D;
$orange-4: #FFCBA5;
$orange-5: #FFE0C9;
$orange-6: #FFF0E4;