.agent {
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #3c3c3c;
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    &-btn {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: $white;
      background: $main;
      padding: 10px 20px;
      cursor: pointer;
      @include transition;
      &.active {
        background: $white;
        color: $main;
      }
    }
  }
  &__body {
    padding: 20px;
    background: $white;
    &-inner {
      display: none;
      animation: book 0.4s ease-out;
      position: relative;
      &.active {
        display: block;
      }
      &-row {
        display: flex;
        .btn__secondary {
          width: 110px;
          margin-left: 15px;
          padding: 10px 0;
          margin-top: 20px;
        }
        .input__outer {
          width: calc(100% - 125px);
          input {
            background: $white-2;
          }
        }
      }
    }
  }
}
