.buyRent {
  padding: 40px 50px;
  background: $white;
  box-shadow: 0px 30px 50px rgba(85, 108, 130, 0.1);
  border-radius: 10px;
  max-width: 870px;
  margin: 0 auto;
  .subtitle-1 {
    text-align: center;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    &-btn {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: $white;
      background: $main;
      padding: 8px 16px;
      cursor: pointer;
      @include transition;
      margin: 20px 5px;
      background: #e0e0e0;
      border-radius: 4px;
      &.active {
        background: $main;
        color: $white;
      }
    }
  }
  &__body {
    background: $white;
    &-inner {
      display: none;
      animation: book 0.4s ease-out;
      position: relative;
      &.active {
        display: block;
      }
      &-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
      }
      &-column {
        width: calc(33.3% - 20px);
        margin: 10px;
        .btn__secondary {
          width: 100%;
          padding: 10px 0;
          width: 100%;
          margin-top: 22px;
        }
        &:nth-child(5) {
          width: calc(26.6% - 20px);
        }
        &:nth-child(6) {
          width: calc(15% - 20px);
        }
        &:nth-child(7) {
          width: calc(25% - 20px);
        }
      }
    }
  }
}
