.card {
  font-size: 10px;
  background: $white;
  border-radius: 10px;
  &__inner {
    position: relative;
    &-verified {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 0;
      padding: 6px 12px;
      background: #19b8df;
      border-radius: 0px 100px 100px 0px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
      svg {
        margin-right: 5px;
      }
      &.sold {
        background: $error;
      }
    }
    &-slider {
      &-item {
        width: 100%;
        height: 22em !important;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        img {
          @include fullImage;
        }
      }
      &.rented {
        .slick-dots li.slick-active button::before {
          background: $primary;
        }
      }
      &.sold {
        .slick-dots li.slick-active button::before {
          background: $error;
        }
      }
      &.active {
        .slick-dots li.slick-active button::before {
          background: $primary;
        }
      }
    }
    &-image {
      height: 38em;
      width: 100%;
      position: relative;
      img {
        @include fullImage;
        border-radius: 10px 10px 0 0;
      }

      &-tick {
        position: absolute;
        top: 23px;
        right: 40px;
        width: 20px;
        height: 20px;
        z-index: 1;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-tag {
        padding: 6px 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        &.platinum {
          position: absolute;
          top: 30px;
          left: 30px;
          background: #202fee;
          z-index: 1;
          border-radius: 100px;
        }
        &.premium {
          position: absolute;
          top: 20px;
          left: 0;
          background: #fe53c4;
          z-index: 1;
          border-radius: 0 100px 100px 0;
        }
        &.sale {
          bottom: 20px;
          left: 0;
          position: absolute;
          background: #2097ee;
          z-index: 1;
          border-radius: 0 100px 100px 0;
        }
      }
    }
    &-body {
      position: relative;
      &-like {
        width: 40px;
        height: 40px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 30px;
        top: -20px;
        border-radius: 50%;
        z-index: 1;
        label {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        svg {
          stroke: #707070;
          @include transition;
          pointer-events: none;
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          z-index: 2;
        }
        input:checked + label {
          svg {
            stroke: #fe53c4;
            fill: #fe53c4;
          }
        }
      }
      padding: 3em;
      &.agentProfileCard {
        padding: 2em;
      }
      &-uniq {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #2097ee;
        margin-bottom: 6px;
      }
      &-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: #606060;
        margin-bottom: 10px;
      }
      &-general {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        color: #444444;
        &.agentProfileCard {
          font-size: 14px;
          color: $primary;
        }
      }
      &-price {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: #2097ee;
        margin-bottom: 10px;
        &.agentProfileCard {
          font-size: 28px;
        }
      }
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
        &-text {
          font-style: normal;
          font-weight: bold;
          font-size: 2.4em;
          line-height: 120%;
          color: #444444;
          width: 70%;
        }
        &-type {
          font-style: normal;
          font-weight: 600;
          font-size: 1.2em;
          line-height: 1;
          color: $white;
          padding: 0.6em 1.2em;
          border-radius: 10em;
          &.estate {
            background: #2097ee;
          }
          &.appart {
            background: #ee7620;
          }
        }
      }
      &-location {
        display: flex;
        margin-bottom: 2em;
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 1.4em;
          line-height: 160%;
          color: #606060;
          display: block;
          width: calc(100% - 2.2em);
        }
        svg {
          width: 1.2em;
          height: 1.5em;
          fill: #bebebe;
          margin-right: 1em;
        }
      }
      &-info {
        display: flex;
        align-items: center;
        &-title {
          margin-bottom: 1em;
          font-style: normal;
          font-weight: normal;
          font-size: 1.2em;
          line-height: 160%;
          color: $grey;
        }
        &-avatar {
          margin-right: 1em;
          width: 4em;
          height: 4em;
          border: 0.1em solid #19b8df;
          background: #19b8df;
          border-radius: 50%;
          position: relative;
          img {
            @include fullImage;
            border-radius: 50%;
          }
          svg {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1.2em;
            height: 1.2em;
          }
        }
        &-name {
          font-style: normal;
          font-weight: bold;
          font-size: 1.4em;
          line-height: 160%;
          color: $grey;
          span {
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            line-height: 160%;
            color: #ababab;
          }
        }
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      margin: 0 30px;
      border-top: 1px solid #eeeeee;
      &.agentProfileCard {
        margin: 0 2em;
      }
      &-row {
        display: flex;
        align-items: center;
        &-info {
          display: flex;
          align-items: center;
          margin-right: 2em;
          &:last-child {
            margin-right: 0;
          }
          &-icon {
            margin-right: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &-number {
            font-style: normal;
            font-weight: normal;
            font-size: 1.4em;
            line-height: 160%;
            color: #919191;
          }
        }
      }
      &-tag {
        border-radius: 100px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        padding: 6px 12px;
        &.estate {
          background: #2097ee;
        }
        &.appart {
          background: #ee7620;
        }
      }
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  &__profile {
    padding: 10px 35px;
    border-radius: 10px;
    background: #f0fcff;
    &-avatar {
      width: 60px;
      height: 60px;
      margin: 0 auto 15px auto;
      border-radius: 50%;
      img {
        @include fullImage;
      }
    }
    &-name {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #5f5f5f;
    }
    &-email {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 140%;
      text-align: center;
      color: #868686;
      display: block;
      margin-bottom: 10px;
    }
    &-location {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 140%;
      color: #868686;
      margin-bottom: 10px;
      svg {
        width: 12px;
        height: 15px;
      }
    }
    .btn__secondary {
      width: 100%;
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__schedule {
    box-shadow: 0px 15px 25px rgba(85, 108, 130, 0.1);
    background: $white;
    border-radius: 5px;
    &-body {
      padding: 20px 10px;
      height: 90px;
    }
    &-icon {
      width: 24px;
      height: 24px;
      margin: 0 auto;
      svg {
        width: 24px;
        height: 24px;
      }
      &.big {
        width: 91px;
        height: 91px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #e0e0e0;
        box-sizing: border-box;
        border-radius: 10px;
      }
    }
    &-date {
      margin-top: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #868686;
    }
    &-time {
      margin-top: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      color: #868686;
    }
    &-footer {
      padding: 8px 0;
      background: #282828;
      border-radius: 0px 0px 5px 5px;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #ffffff;
      &.more {
        background: $main;
      }
    }
  }
  &__agent {
    padding: 15px 10px;
    background: $white;
    border-radius: 10px;
    position: relative;
    display: block;
    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid $main;
      position: relative;
      margin: 0 auto 15px auto;
      img {
        @include fullImage;
      }
      &-verified {
        position: absolute;
        bottom: 0;
        right: 0;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
      color: #606060;
      margin-bottom: 10px;
    }
    &-prof {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #ababab;
    }
    &-btn {
      margin-top: 20px;
      padding: 8px 0;
      background: #ffffff;
      border: 1px solid #34c0e3;
      border-radius: 4px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #34c0e3;
      position: relative;
      @include transition;

      &::before {
        content: "Select agent";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition;
      }
    }
  }
  &__wanted {
    box-shadow: 0px 15px 25px rgba(85, 108, 130, 0.1);
    background: $white;
    border-radius: 10px;
    padding: 40px;
    &-box {
      padding: 20px 0;
      border-bottom: 1px solid $white-2;
    }
    &-legend {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 120%;
      text-align: center;
      color: #222222;
    }
    &-label {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #b7b7b7;
      margin-bottom: 10px;
    }
    &-type {
      display: flex;
      align-items: center;
      &-info {
        display: flex;
        align-items: center;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
        &-number {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: #5f5f5f;
        }
      }
    }
    &-location {
      display: flex;
      svg {
        margin-top: 5px;
        width: 15px;
        height: 18px;
        margin-right: 5px;
      }
      span {
        width: calc(100% - 20px);
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 160%;
        color: #5f5f5f;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      padding: 20px 0;
      &-title {
        margin-bottom: 1em;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em;
        line-height: 160%;
        color: $grey;
      }
      &-avatar {
        margin-right: 1em;
        width: 4em;
        height: 4em;
        border: 0.1em solid #19b8df;
        background: #19b8df;
        border-radius: 50%;
        position: relative;
        img {
          @include fullImage;
          border-radius: 50%;
        }
        svg {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 1.2em;
          height: 1.2em;
        }
      }
      &-name {
        font-style: normal;
        font-weight: bold;
        font-size: 1.4em;
        line-height: 160%;
        color: $grey;
        span {
          display: block;
          font-style: normal;
          font-weight: normal;
          font-size: 1em;
          line-height: 160%;
          color: #ababab;
        }
      }
    }
    &-price {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 120%;
      color: #34c0e3;
      span {
        color: $black-1;
        font-size: 16px;
      }
    }
    &-about {
      padding: 20px 0;
    }
    &-range {
      width: 100%;
      position: relative;
      background: #f4f4f4;
      border-radius: 5px;
      height: 37px;
      span {
        background: #34c0e3;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        border-radius: 5px;
      }
      &-number {
        position: absolute;
        right: 10px;
        top: 50%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        color: #ffffff;
        @include transformY;
      }
    }
    &-general {
      margin-top: 20px;
      display: flex;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      color: #222222;
      align-items: center;
      svg {
        margin-right: 15px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      margin: 0 -10px;
      a {
        width: calc(50% - 20px);
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;

        br {
          display: none;
        }
      }
    }
  }
  &__profile {
    padding: 20px;
    background: $white;
    box-shadow: 0px 15px 25px rgba(85, 108, 130, 0.1);
    border-radius: 10px;
    &-avatar {
      margin: 0 auto 10px auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      img {
        @include fullImage;
      }
    }
    &-body {
      &-name {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: $black-1;
        margin-bottom: 10px;
        justify-content: center;
        svg {
          margin-left: 5px;
        }
      }
      &-mail {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: $main;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-prof {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: $black-2;
      }
      &-star {
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: $black-2;
        svg {
          margin-right: 5px;
          fill: $warning;
        }
      }
      .btn__secondary {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 130px;
        padding: 8px 0;
        margin: 10px auto;
      }
      .btn__primary {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 130px;
        padding: 8px 0;
        margin: 10px auto;
      }
    }
  }
  &__general {
    padding: 15px 20px;
    background: $white;
    box-shadow: 0px 15px 25px rgba(85, 108, 130, 0.1);
    border-radius: 10px;
    &-avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-bottom: 20px;
      img {
        @include fullImage;
      }
    }
    &-name {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      color: $black-1;
      margin-bottom: 10px;
    }
    &-para {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 180%;
      color: $grey;
    }
    &-footer {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.propertyAgent {
  background: #fff;
  box-shadow: 4px 4px 20px rgba(3, 11, 32, 0.1);
  border-radius: 5px 0px 0px 5px;
  @include transition;
  &__inner {
    padding: 40px 0;
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #444444;
      text-align: center;
    }
    &-price {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 160%;
      text-align: center;
      margin: 5px 0 10px 0;
      color: #444444;
      span {
        font-size: 14px;
      }
    }
    &-availability {
      padding: 10px 0;
      text-align: center;
      background: #e5faff;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */
      text-align: center;
      color: #19b8df;
    }
    &-agent {
      margin: 24px 0;
      &-type {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #606060;
      }
      &-avatar {
        margin: 10px auto;
        width: 90px;
        height: 90px;
        position: relative;
        border-radius: 50%;
        border: 2px solid #34c0e3;
        img {
          @include fullImage;
        }
        svg {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      &-name {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: #606060;
        text-align: center;
      }
      &-number {
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        color: #ababab;
        text-align: center;
      }
    }
    &-btns {
      &-btn {
        border-radius: 4px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 220px;
        padding: 12px 0;
        margin: 10px auto;
        cursor: pointer;
        @include transition;
        &:hover {
          opacity: 0.8;
        }
        &:nth-child(1) {
          background: #34c0e3;
        }
        &:nth-child(2) {
          background: #5f5f5f;
        }
        &:nth-child(3) {
          background: #eb3e91;
        }
      }
    }
    &-form {
      width: 100%;
      max-width: 220px;
      margin: 0 auto;
      padding: 24px 0;
      display: none;
      position: relative;
      animation: book 0.2s linear;
      &.active {
        display: block;
      }
      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
        &-title {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          color: #222222;
        }
        &-close {
          cursor: pointer;
          svg {
            pointer-events: none;
          }
        }
      }
      .input__outer {
        margin-bottom: 10px;
      }
      .textarea__outer {
        margin-bottom: 24px;
      }
    }
  }
}
