@include xxxxlg-xxxxxlg {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 44px;
  }
  h4 {
    font-size: 36px;
  }
  h5 {
    font-size: 32px;
  }
  h6 {
    font-size: 24px;
  }
  .subtitle-1 {
    font-size: 20px;
  }
  .subtitle-2 {
    font-size: 18px;
  }
  // index page start
  // main start
  .auto__container {
    padding: 0 20px;
  }
  .extra__container {
    padding: 0 20px;
  }
  // main end
  // intro start
  .intro {
    padding: 60px 0;
    &__inner {
      &-image {
        width: 40%;
        right: 0;
      }
    }
  }
  // intro end
  // section start
  .section {
    padding: 35px 0;
  }
  // section end
  .map {
    padding: 120px 0;
  }
  // feature  start
  .feature {
    &__inner {
      &-row {
        margin: 0 -7.5px;
      }
      &-column {
        width: calc(25% - 15px);
        margin: 0 7.5px;
      }
    }
  }

  // feature  end
  // index page end
  // result page start
  .result {
    &__header {
      &-column {
        width: calc(40% - 20px);
        &:last-child {
          width: calc(60% - 20px);
        }
      }
    }
    &__body {
      &-inner {
        &-map {
          width: calc(50% - 20px);
          height: 500px;
        }
        &.listingResult {
          .row__3 {
            &-column {
              width: calc(50% - 12px);
            }
          }
        }
      }
    }
  }
  // result page end
}
@include xxxlg-xxxxlg {
  // intro start
  .auto__container {
    max-width: 984px;
    padding: 0 20px;
  }
  // intro end
  // find start
  .find {
    &__inner {
      &-content {
        width: calc(55% - 25px);
      }
      &-image {
        width: 45%;
      }
    }
    h5 {
      margin-bottom: 20px;
    }
  }
  // find end
  // feature start
  .feature {
    p {
      margin-bottom: 20px;
      br {
        display: none;
      }
    }
    h5 {
      margin-bottom: 20px;
    }
  }
  // feature end
  // agentRegistartion page start
  .introAgent {
    &__inner {
      &-image {
        width: calc(50% + 100px);
        margin-right: -100px;
        height: 650px;
        &-card {
          width: 200px;
        }
      }
    }
  }
  .aboutAgent {
    padding: 40px 0;
  }
  .testimonialAgent {
    padding: 40px 0;
    &__slider {
      &-outer {
        .testPrev {
          left: 0;
          z-index: 1;
        }
        .testNext {
          right: 0;
          z-index: 1;
        }
      }
    }
  }
  .businessAgent {
    margin: 0 -20px;
    width: calc(100% + 40px);
    &__inner {
      &-image {
        &-1 {
          width: 80%;
        }
        &-2 {
          width: 80%;
        }
      }
      &-content {
        border-radius: 0;
        p {
          width: 50%;
          br {
            display: none;
          }
        }
        h4 {
          width: 50%;
          br {
            display: none;
          }
        }
      }
    }
  }
  // agentRegistartion page end
  // agentProfile page start
  .agentProfile {
    &__tab {
      &-body {
        .row__3 {
          margin: 0 -5px;
          &-column {
            width: calc(33.3% - 10px);
            margin: 5px;
          }
        }
      }
    }
  }
  // agentProfile page end
  // lisitngResult page start
  .result {
    &__body {
      &-inner {
        &.listingResult {
          .row__2 {
            flex-direction: column;
            -ms-flex-direction: column;
            margin: 0;
            &-column {
              width: 100%;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
  .card {
    &__wanted {
      &-footer {
        a {
          br {
            display: block;
          }
        }
      }
    }
  }
  // lisitngResult page end
  // listing page start
  .listingPage {
    &__inner {
      &-header {
        flex-wrap: wrap;
        margin: 0;
        &-side {
          width: 100%;
          margin: 5px 0;
          justify-content: center;
        }
      }
    }
    &__date {
      &-column {
        &-request {
          padding: 20px 10px 10px 10px;
        }
        &-label {
          padding: 20px 10px 10px 10px;
        }
      }
    }
  }
  // listing page end
}
@include xxlg-xxxlg {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 36px;
  }
  // h4 {
  //   font-size: 36px;
  // }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 24px;
  }
  // header start
  .header {
    &__inner {
      &-logo {
        width: 90px;
      }
    }
  }
  // header end
  // nav start
  .nav {
    &__inner {
      &-link {
        padding: 0 10px;
      }
    }
  }
  // nav end
  // intro start
  .intro {
    padding: 30px 0 50px 0;
    &__inner {
      &-content {
        width: 90%;
      }
      &-btns {
        margin: 20px 0;
        button {
          width: 105px;
          margin-right: 16px;
          img {
            width: 100%;
          }
        }
      }
    }
    h2 {
      max-width: 345px;
      br {
        display: none;
      }
    }
  }
  // book start
  .book {
    &__header {
      &-btn {
        font-size: 14px;
      }
    }
    &__body {
      padding: 20px;
    }
  }
  // book end
  // intro end
  // feature  start
  .feature {
    &__inner {
      &-row {
        flex-wrap: wrap;
        margin: 0;
      }
      &-column {
        width: calc(50% - 40px);
        margin: 20px;
      }
    }
  }
  // feature  end
  // contact start
  .contact {
    padding: 50px 0;
    &__inner {
      &-form {
        padding-right: 10px;
        width: calc(50% - 10px);
      }
    }
  }
  // contact end
  // app start
  .app {
    padding: 50px 0;

    &__inner {
      padding: 100px 40px;
      &-phone {
        img {
          width: 200px;
        }
      }
      &-content {
        &-row {
          margin: 0;
          button {
            width: 110px;
            margin-right: 20px;
            border-radius: 4px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    h5 {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  // app end
  // look start
  .look {
    .subtitle-1 {
      font-size: 16px;
    }
  }
  // look end
  // valuation start
  .valuation {
    &__inner {
      &-content {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 12px;
      }
    }
    p {
      margin: 20px auto 30px auto;
    }
  }
  .form {
    &__inner {
      &-tab {
        &-window {
          padding: 30px 40px;
          &-header {
            margin: 20px 0;
            padding: 0 15px;
          }
          &-body {
            padding: 0;
          }
          &-footer {
            padding: 0;
            margin-top: 20px;
          }
          &-agent {
            &-column {
              margin: 5px;
              width: calc(33.3% - 10px);
            }
          }
        }
      }
    }
  }
  // valuation end
  // interested start
  .interested {
    margin-top: 30px;
    &__map {
      width: calc(100% - 346px);
    }
    &__side {
      margin-right: 20px;
      padding: 10px 13px;
    }
    &__footer {
      &-btn {
        width: calc(33.3% - 40px);
        padding: 10px;
        margin: 0 10px;
      }
    }
  }
  // interested end
  .section {
    h5 {
      br {
        display: none;
      }
    }
    p {
      margin: 0 auto 20px auto;
    }
  }
  .row {
    &__3 {
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      & {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      &-column {
        min-width: 320px;
        .card {
          &__inner {
            &-body {
              padding: 1em 1.5em;
            }
            &-footer {
              padding: 1em 0;
              margin: 0 1.5em;
            }
          }
        }
      }
    }
    &__4 {
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      & {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      &-column {
        min-width: 320px;
        .card {
          &__inner {
            &-body {
              padding: 1em 1.5em;
            }
            &-footer {
              padding: 1em 0;
              margin: 0 1.5em;
            }
          }
        }
      }
    }
  }
  // result page start
  .result {
    &__header {
      &-row {
        flex-direction: column;
        -ms-flex-direction: column;
      }
      &-column {
        width: 100% !important;
        margin: 10px 0;
        &:last-child {
          margin: 0 -5px;
        }
      }
    }
    &__body {
      &-inner {
        &-map {
          width: calc(50% - 10px);
          margin: 0 5px;
        }
        &-cards {
          width: calc(50% - 10px);
          margin: 0 5px;
        }
        &-cards {
          .card__wanted {
            padding: 20px 10px;
            &-location {
              span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        &.listingResult {
          .row__3 {
            &-column {
              min-width: unset;
            }
          }
        }
      }
    }
  }
  // result page end
  // login pages start
  .loginPages {
    &__content {
      padding: 80px 20px 80px 30px;
      width: calc(50% - 50px);
    }
    &__image {
      &-card {
        width: 50%;
        &-md {
          width: 35%;
          left: 5%;
        }
        &-sm {
          width: 35%;
          right: 5%;
        }
      }
    }
  }
  .loginForm {
    max-width: unset;
    &__type {
      &-radio {
        label {
          font-size: 12px;
        }
      }
    }
  }
  .login {
    &__inner {
      &-footer {
        max-width: unset;
      }
    }
  }
  .upload {
    &__image {
      width: 128px;
      height: 128px;
      &-id {
        width: 168px;
        height: 110px;
      }
    }
    &__content {
      width: calc(100% - 170px);
    }
  }
  .input {
    &__row {
      margin: 0;
    }
    &__column {
      width: 100%;
      margin: 2.5px 0;
    }
  }
  // login pages end
  // realEstate page start
  .realEstate {
    &__header {
      margin-bottom: 5px;
      &-sort {
        width: calc(100% - 275px);
      }
      &-search {
        width: 275px;
      }
    }
    &__table {
      &-column {
        width: 20%;
        &:last-child {
          width: 20%;
        }
        .btn__primary {
          max-width: 100px;
        }
        .btn__secondary {
          max-width: 100px;
        }
      }
    }
  }
  // realEstate page end
  // agentProfile page start
  .agentProfile {
    &__inner {
      &-card {
        display: none;
      }
      &-content {
        width: 100%;
      }
    }
    &__tab {
      &-header {
        &-btn {
          br {
            display: block;
          }
        }
      }
      &-body {
        .row__3 {
          &-column {
            min-width: unset;
          }
        }
      }
    }
  }
  // agentProfile page end
  // listing page start
  .hero {
    margin-top: 72px;
  }
  .listingPage {
    &__inner {
      &-body {
        flex-direction: column;
        -ms-flex-direction: column;
        &-content {
          width: 100%;
          order: 2;
          margin: 15px 0;
          &-inner {
            margin-bottom: 20px;
          }
        }
        &-side {
          width: 100%;
          order: 1;
          margin: 15px 0;
          .propertyAgent {
            &__inner {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              padding: 30px;
              &-header {
                width: calc(33.3% - 10px);
                margin: 0 5px;
              }
              &-footer {
                width: calc(33.3% - 10px);
                margin: 0 5px;
              }
              &-body {
                width: calc(33.3% - 10px);
                margin: 0 5px;
              }
            }
          }
        }
      }
    }
    &__title {
      margin-bottom: 10px;
    }
    &__date {
      &-form {
        max-width: 500px;
      }
    }
  }
  .modal {
    &::-webkit-scrollbar {
      display: none;
    }
    &__inner {
      &-close {
        top: 20px;
        right: 20px;
      }
    }
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    &.revealForm {
      .modal {
        &__inner {
          max-width: 570px;
          padding: 20px;
        }
      }
    }
  }
  .revealForm {
    &__body {
      &-row {
        flex-wrap: wrap;
      }
      &-column {
        &-3 {
          margin: 10px;
          width: calc(50% - 20px);
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
            width: calc(100% - 20px);
          }
          &:nth-child(3) {
            order: 2;
          }
        }
        &-2 {
          width: calc(100% - 20px);
        }
      }
    }
    &__footer {
      margin-top: 20px;
    }
  }
  // listing page end
}
@include xlg-xxlg {
  // map start
  .map {
    h5 {
      margin-bottom: 20px;
      br {
        display: none;
      }
    }
  }
  // buyRent start
  .buyRent {
    padding: 40px;
    max-width: 470px;
    &__body {
      &-inner {
        &-row {
          justify-content: space-between;
        }
        &-column {
          width: calc(50% - 20px);
          &:nth-child(3) {
            width: calc(50% - 19px);
          }
          &:nth-child(5) {
            width: calc(50% - 20px);
          }
          &:nth-child(6) {
            width: calc(25% - 20px);
          }
        }
      }
    }
  }
  // buyRent end
  // map end
  // row sections start
  .row {
    &__2 {
      max-width: 560px;
      margin: 0 auto;
      &-column {
        margin: 0 7.5px;
        width: calc(50% - 15px);
        .card {
          &__inner {
            &-body {
              padding: 15px 10px;
              &-title {
                flex-direction: column;
                -ms-flex-direction: column;
                align-items: flex-start;
                margin-bottom: 1em;
                &-text {
                  font-size: 1.8em;
                  width: 100%;
                  order: 2;
                }
                &-type {
                  order: 1;
                  margin-bottom: 10px;
                }
              }
              &-location {
                margin-bottom: 1.5em;
                span {
                  font-size: 12px;
                }
                svg {
                  margin-top: 0.2em;
                }
              }
              &-info {
                &-title {
                  margin-bottom: 0.8em;
                }
              }
            }
            &-footer {
              padding: 10px 0;
              margin: 0 10px;
              &-row {
                &-info {
                  margin-right: 0.6em;
                  &-number {
                    font-size: 1.2em;
                  }
                }
              }
            }
            &-image {
              height: 185px;
              &-tag {
                top: 10px;
                left: 10px;
                &.sale {
                  top: unset;
                }
              }
            }
          }
        }
      }
    }
  }
  // row sections end
  // lisitngResult page start
  .result {
    &__body {
      &-inner {
        &.listingResult {
          flex-direction: column;
          -ms-flex-direction: column;
          margin: 0;

          .result__body-inner-map {
            width: 100%;
            margin: 10px 0;
          }
          .result__body-inner-cards {
            width: 100%;
            margin: 10px 0;
          }
          .row__2 {
            flex-direction: row;
            max-width: unset;
            &-column {
              width: calc(50% - 10px);
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
  // lisitngResult page end
}
@include lg-xlg {
  // index page start
  // // intro start
  .intro {
    &__inner {
      &-image {
        position: relative;
        @include transformReset;
        width: 100%;
        margin: 0 auto;
      }
      &-map {
        top: 10%;
        left: 10%;
        width: 100%;
        max-width: 516px;
      }
      &-content {
        margin-top: 40px;
        width: 100%;
      }
      &-btns {
        justify-content: center;
      }
    }
    h2 {
      text-align: center;
      max-width: unset;
    }
  }
  // // book start
  .book {
    &__header {
      &-btn {
        padding: 10px 0;
        width: 25%;
        span {
          display: none;
        }
      }
    }
    &__body {
      &-inner {
        &-row {
          &-column {
            margin: 10px 0 !important;
            width: 100% !important;
            flex-wrap: wrap;
            .select__outer {
              width: 100% !important;
              margin: 0 0 10px 0;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  // // book end
  // // intro end
  // // feature start
  .feature {
    padding: 60px 0;
    &__inner {
      &-row {
        margin: 30px 0 0 0;
        flex-direction: column;
        -ms-flex-direction: column;
      }
      &-column {
        margin: 20px 0;
        width: 100%;
        &-icon {
          margin: 0 auto 20px auto;
        }
        .subtitle-1 {
          margin-bottom: 10px;
          text-align: center;
        }
        .para {
          text-align: center;
          margin-bottom: 10px;
        }
        ul {
          margin-left: 0;
          li {
            list-style: none;
            text-align: center;
          }
        }
        &-link {
          justify-content: center;
          svg {
            margin-left: 10px;
          }
        }
      }
    }

    h5 {
      margin-bottom: 10px;
      br {
        display: none;
      }
    }
  }
  // // feature end
  // // look start
  .look {
    padding: 70px 0;
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-image {
        width: 80%;
        margin: 0 auto 0 auto;
        &-3 {
          width: 160px;
          bottom: -30px;
        }
      }
      &-content {
        padding-top: 60px;
        width: 100%;
      }
    }
    h5 {
      text-align: center;
      margin-bottom: 10px;
    }
    .subtitle-1 {
      margin-bottom: 20px;
      text-align: center;
    }
    .btn__secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 260px;
      padding: 10px 0;
      margin: 0 auto;
    }
  }
  // // look end
  // // wanted start
  .wanted {
    padding: 70px 0;
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-image {
        order: 1;
        width: 100%;
      }
      &-content {
        order: 2;
        width: 100%;
        padding: 0;
      }
    }
    h5 {
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      text-align: center;
    }
    .btn__secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 260px;
      padding: 10px 0;
      margin: 0 auto;
    }
  }
  // // wanted end
  // // listing start
  .listing {
    padding: 70px 0;
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-image {
        order: 1;
        width: 100%;
      }
      &-content {
        order: 2;
        width: 100%;
        padding: 0;
        &-subtitle {
          text-align: center;
          font-size: 18px;
          margin-bottom: 20px;
        }
        &-row {
          max-width: 350px;
          margin: 20px auto 0 auto;
          &-title {
            width: unset;
          }
        }
      }
    }
    h5 {
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      text-align: center;
    }
    .btn__secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 260px;
      padding: 10px 0;
      margin: 0 auto;
    }
  }
  // // listing end
  // // find start
  .find {
    padding: 70px 0;
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-image {
        width: 100%;
      }
      &-content {
        width: 100%;
        padding: 0;
      }
    }
    h5 {
      text-align: center;
    }
  }
  .agent {
    &__body {
      &-inner {
        &-row {
          flex-direction: column;
          -ms-flex-direction: column;
          .input__outer {
            width: 100%;
          }
          .btn__secondary {
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
  // // find end
  // contact start
  .contact {
    padding: 50px 0;
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-image {
        width: 100%;
        order: 1;
      }
      &-form {
        padding-right: 0;
        width: 100%;
        order: 2;
      }
    }
  }
  // contact end
  // app start
  .app {
    &__inner {
      padding: 0 0 70px 0;
      flex-direction: column;
      -ms-flex-direction: column;
      &-content {
        order: 2;
        width: 100%;
        &-row {
          justify-content: center;
          button {
            margin: 0 5px;
          }
        }
      }
      &-phone {
        width: 90%;
        margin: 0 auto;
        position: unset;
        @include transformReset;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        img {
          width: 100%;
          @include transformReset;
          position: unset;
          max-width: 160px;
        }
      }
    }
    h5 {
      text-align: center;
      color: $white;
    }
    p {
      text-align: center;
      color: $white;
    }
  }
  // app end
  // index page end
  .header {
    padding: 10px 0;
    &__inner {
      &-btns {
        display: none;
      }
    }
    .btn__secondary {
      margin: 5px 15px;
    }
    .btn__primary {
      margin: 5px 15px;
    }
  }
  // // nav start
  .nav {
    position: fixed;
    top: 77px;
    left: 0;
    width: 100%;
    height: calc(100% - 77px);
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: unset;
      top: 0;
      right: 0;
      width: 250px;
      padding: 0;
      z-index: 1;
      padding: 20px;
      height: calc(100% - 40px);
      overflow-y: auto;
      background: #f8fbf4;
      &-link {
        border: none;
        padding: 15px;
        display: block;
        text-align: left;
        width: unset;
        color: $black;
        margin-right: 0;
        font-size: 16px;
        line-height: 1;
      }
      .btn__primary {
        display: block;
      }
      .btn__secondary {
        display: block;
      }
    }
    .btn {
      margin: 15px 0;
      text-align: center;
    }
  }
  .body.active {
    overflow: hidden;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    &::before {
      top: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $black;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &::after {
      bottom: 20%;
      width: calc(100% - 0.4rem);
      height: 4px;
      background-color: $black;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      @include transformX;
    }
    &.active {
      &::before {
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%) rotate(-45deg);
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }
  }
  // // nav end
  // // footer start
  .footer {
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      &-row {
        width: 100%;
        justify-content: space-around;
      }
      &-logo {
        margin: 0 auto 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-column {
        max-width: 170px;
        width: 33%;
      }
    }
  }
  // // footer end
  // // valuation start
  .form {
    &__inner {
      &-tab {
        &-window {
          padding: 30px 19px;
          &-header {
            padding: 0;
            margin: 10px 0;
          }
          &-body {
            &-row {
              margin: 0;
            }
            &-column {
              margin: 5px 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
  // // valuation end
  // interested start
  .interested {
    margin-top: 20px;
    &__tab {
      flex-direction: column;
      -ms-flex-direction: column;
    }
    &__side {
      margin-right: 0;
      width: 100%;
      padding: 20px 0;
      order: 2;
      .card {
        &__profile {
          max-width: 300px;
          margin: 0 auto 20px auto;
          &:last-child {
            margin: 0 auto 10px auto;
          }
        }
      }
    }
    &__map {
      width: 100%;
      margin-bottom: 20px;
      order: 1;
    }
    &__footer {
      &-btn {
        width: calc(33.3% - 40px);
        padding: 10px;
        margin: 0 10px;
      }
    }
  }
  // interested end
  // result page start
  .result {
    margin-top: 77px;
    &__header {
      &-column {
        flex-wrap: wrap;
        margin: 0;
        &:last-child {
          margin: 0;
        }
        .select__outer {
          width: 100%;
          margin: 5px 0;
          &:nth-child(3) {
            width: calc(70% - 5px);
            margin: 5px 5px 5px 0;
          }
          &:nth-child(4) {
            width: calc(30% - 5px);
            margin: 5px 0 5px 5px;
          }
        }
      }
    }
    &__body {
      &-inner {
        flex-direction: column;
        -ms-flex-direction: column;
        &-map {
          width: 100%;
          margin: 10px 0;
        }
        &-cards {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
  }
  // result page end
  // login pages start
  .loginPages {
    &__image {
      display: none;
    }
    &__content {
      padding: 40px 0;
      width: 80%;
      max-width: 400px;
      height: unset;
      margin: 0 auto;
      position: unset;
      overflow: unset;
    }
  }
  .loginForm {
    &.w-secondary {
      max-width: unset;
    }
  }
  .login {
    &__success {
      position: fixed;
      left: 50%;
      @include transform;
    }
  }
  // login pages end
  // agentRegistration page start
  .introAgent {
    &__inner {
      margin: 0 auto;
      max-width: 560px;
      &-content {
        padding: 0;
        width: 100%;
      }
      &-image {
        display: none;
      }
    }
  }
  .aboutAgent {
    &__inner {
      max-width: 560px;
      margin: 0 auto;
      &-image {
        display: none;
      }
      &-content {
        &.p-left {
          width: 100%;
          padding: 0;
        }
        &.p-right {
          width: 100%;
          padding: 0;
        }
      }
    }
    h3 {
      text-align: center;
      br {
        display: none;
      }
    }
    p {
      text-align: center;
    }
    .subtitle-2 {
      text-align: center;
    }
  }
  .whyAgent {
    &__inner {
      max-width: 560px;
      margin: 0 auto;
    }
    ul {
      margin-left: 40px;
      li {
        width: calc(100% - 30px);
        padding: 0 0 0 30px;
      }
    }
  }
  .testimonialAgent {
    &__inner {
      max-width: 560px;
      margin: 0 auto;
    }
    &__slider {
      &-outer {
        .testNext {
          display: none !important;
        }
        .testPrev {
          display: none !important;
        }
      }
      &-item {
        margin: 0;
        padding: 10px 20px;
        &-row {
          flex-direction: column;
          -ms-flex-direction: column;
        }
        &-image {
          margin: 20px 0;
        }
        &-content {
          width: 100%;
        }
      }
      .slick-dots {
        margin-bottom: -30px;
      }
    }
  }
  .businessAgent {
    max-width: 560px;
    margin: 0 auto;
    width: unset;
    &__inner {
      &-image {
        display: none;
      }
      &-content {
        padding: 20px;
        h4 {
          width: unset;
        }
        p {
          width: unset;
        }
      }
    }
  }
  // agentRegistration page end
  // agentRegistrationForm page start
  .agentForm {
    &__form {
      &-content {
        &-row {
          margin: 0 -12px 20px -12px;
          &:last-child {
            margin: 0 -12px;
          }
        }
        &-column-1 {
          width: calc(100% - 24px);
          margin: 0 12px;
        }
        &-column-2 {
          width: calc(50% - 24px);
          margin: 0 12px;
        }
        &-column-3 {
          width: calc(33.3% - 24px);
          margin: 0 12px;
        }
      }
    }
  }
  // agentRegistrationForm page end
  // realEstate page start
  .realEstate {
    &__header {
      flex-direction: column;
      -ms-flex-direction: column;
      &-sort {
        width: 100%;
      }
      &-search {
        width: 100%;
        margin-top: 20px;
      }
    }
    &__table {
      &-header {
        display: none;
      }
      &-row {
        flex-wrap: wrap;
        align-items: unset;
      }
      &-column {
        width: 25%;
        &:first-child {
          width: 50%;
        }
        &:last-child {
          width: 100%;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          -ms-flex-direction: row;
        }
        .btn__primary {
          margin: 0 15px;
        }
        .btn__secondary {
          margin: 0 15px;
        }
      }
    }
  }
  // realEstate page end
  // agentProfile page start
  .agentProfile {
    &__header {
      flex-wrap: wrap;
    }
    &__tab {
      &-body {
        .row__3 {
          margin: 0 -10px;
          &-column {
            width: calc(50% - 20px);
            margin: 10px;
          }
        }
      }
    }
  }
  // agentProfile page end
}
@include md-lg {
  .auto__container {
    padding: 0 12px;
  }
  .extra__container {
    padding: 0 12px;
  }
  // index page  start
  // map start
  .map {
    padding: 50px 0;
    h5 {
      margin-bottom: 20px;
      br {
        display: none;
      }
    }
  }
  // buyRent start
  .buyRent {
    padding: 40px 20px;
    &__header {
      &-btn {
        margin: 10px 5px 0 5px;
      }
    }
    &__body {
      &-inner {
        &-row {
          justify-content: space-between;
          margin: 0;
        }
        &-column {
          width: 100% !important;
          margin: 5px 0;
        }
      }
    }
  }
  // buyRent end
  // map end
  // contact start
  .contact {
    &__inner {
      &-form {
        &-row {
          flex-direction: column;
          -ms-flex-direction: column;
          margin: 0;
        }
        &-column {
          width: 100%;
          margin: 5px 0;
          &:nth-child(3) {
            width: 70%;
          }
        }
      }
    }
    h5 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 10px;
    }
  }
  // contact end
  // look start
  .look {
    &__inner {
      &-image {
        width: 100%;
        &-1 {
          width: 95px;
        }
        &-3 {
          width: 120px;
        }
      }
    }
  }
  // look end
  // index page end
  // footer start
  .footer {
    &__inner {
      padding: 60px 0 40px 0;
      &-logo {
        width: 170px;
      }
      &-row {
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
      }
      &-column {
        width: calc(100% - 100px);
        max-width: 200px;
        padding-left: 100px;
        margin: 0 auto 30px auto;
      }
    }
    &__copy {
      padding-bottom: 70px;
    }
  }
  // footer end
  // // valuation start
  .form {
    &__inner {
      &-tab {
        &-window {
          &-agent {
            &-column {
              width: calc(50% - 10px);
            }
          }
          &-body {
            &-back {
              margin-top: 20px;
            }
          }
          &-header {
            li {
              width: 32px;
              height: 32px;
              font-size: 12px;
            }
          }
          &-review {
            &-row {
              &-text {
                span {
                  width: calc(100% + 75px);
                }
              }
            }
          }
        }
      }
    }
  }
  .digit-group {
    margin-top: 30px;
    input {
      width: 40px;
      height: 50px;
      font-size: 20px;
    }
  }
  .card {
    &__agent {
      margin-bottom: 5px;
    }
  }
  // // valuation end
  // interested start
  .interested {
    &__footer {
      flex-direction: column;
      -ms-flex-direction: column;
      &-btn {
        margin: 0 auto 20px auto;
        width: calc(100% - 20px);
        max-width: 200px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    h5 {
      br {
        display: none;
      }
    }
  }
  // interested end
  // row section start
  .row {
    &__2 {
      flex-direction: column;
      -ms-flex-direction: column;
      margin: 0;
      &-column {
        width: 100%;
        max-width: 320px;
        margin: 0 auto 15px auto;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__3 {
      flex-direction: column;
      -ms-flex-direction: column;
      margin: 0;
      &-column {
        width: 100%;
        max-width: 320px;
        min-width: unset;
        margin: 0 auto 15px auto;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  // row section end
  // agentRegistration page start
  .introAgent {
    padding-bottom: 20px;
    h2 {
      font-size: 52px;
    }
  }
  .aboutAgent {
    padding: 15px 0;
    h3 {
      font-size: 40px;
    }
  }
  .whyAgent {
    h3 {
      font-size: 40px;
    }
    ul {
      margin: 20px 0 20px 20px;
    }
    .subtitle-2 {
      margin-top: 20px;
    }
  }
  .testimonialAgent {
    padding: 20px 0;
  }
  .businessAgent {
    padding: 20px 0;
  }
  .result {
    &__body {
      &-inner {
        &.listingResult {
          .column {
            .card {
              &__inner {
                &-body {
                  padding: 15px 10px;
                  &-title {
                    flex-direction: column;
                    -ms-flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 1em;
                    &-text {
                      font-size: 1.8em;
                      width: 100%;
                      order: 2;
                    }
                    &-type {
                      order: 1;
                      margin-bottom: 10px;
                    }
                  }
                  &-location {
                    margin-bottom: 1.5em;
                    span {
                      font-size: 12px;
                    }
                    svg {
                      margin-top: 0.2em;
                    }
                  }
                  &-info {
                    &-title {
                      margin-bottom: 0.8em;
                    }
                  }
                }
                &-footer {
                  padding: 10px 0;
                  margin: 0 10px;
                  &-row {
                    &-info {
                      margin-right: 0.6em;
                      &-number {
                        font-size: 1.2em;
                      }
                    }
                  }
                }
                &-image {
                  height: 185px;
                  &-tag {
                    top: 10px;
                    left: 10px;
                    &.sale {
                      top: unset;
                    }
                  }
                }
              }
            }
          }
          .row__3 {
            flex-direction: row;
          }
        }
      }
    }
  }
  // agentRegistration page end
  // agentRegistrationForm page start
  .agentForm {
    &__form {
      &-content {
        &-header {
          margin-bottom: 20px;
        }
        &-column-2 {
          width: calc(100% - 24px);
          margin: 0 12px;
        }
      }
    }
    .upload {
      &__image {
        width: 250px;
        height: 250px;
      }
      &__content {
        width: calc(100% - 280px);
      }
    }
  }

  // agentRegistrationForm page end
  // realEstate page start
  .realEstate {
    &__table {
      &-row {
        padding: 20px 60px 30px 60px;
      }
      &-info {
        justify-content: center;
        &-about {
          width: unset;
        }
      }
      &-column {
        &-company {
          text-align: center;
        }
        &-language {
          text-align: center;
        }
        width: 100%;
        margin: 10px 0 0 0;
        &:first-child {
          width: 100%;
        }
      }
    }
  }
  // realEstate page end
  // agentProfile page start
  .agentProfile {
    &__inner {
      &-content {
        &-about {
          &-header {
            flex-direction: column;
            -ms-flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            &-language {
              margin-top: 10px;
            }
          }
          &-footer {
            &-socials {
              flex-wrap: wrap;
              a {
                width: calc(50% - 10px);
                margin: 5px;
              }
            }
          }
        }
      }
    }
    &__tab {
      &-header {
        flex-wrap: wrap;
        &-btn {
          margin: 5px;
          width: calc(50% - 20px);
        }
      }
      &-body {
        .row__3 {
          flex-direction: row;
          -ms-flex-direction: row;
        }
        .card {
          &__inner {
            &-footer {
              &-row {
                &-info {
                  margin-right: 1em;
                }
              }
            }
          }
        }
      }
      &-pagination {
        margin-top: 40px;
        flex-direction: column;
        -ms-flex-direction: column;
        &-row {
          margin-top: 15px;
        }
        &-number {
          &:nth-child(n + 7) {
            display: none;
          }
        }
      }
    }
  }
  // agentProfile page end
  // lisitngResult page start
  .result {
    &__body {
      &-inner {
        &.listingResult {
          .row__2 {
            flex-direction: column;
            -ms-flex-direction: column;
            &-column {
              width: 100%;
              margin: 10px 0;
              max-width: unset;
            }
          }
        }
      }
    }
  }
  // lisitngResult page end
  // listing page start
  .hero {
    height: 200px;
    margin-bottom: 65px;
    &__inner {
      padding: 9px;
      &-info {
        &-tag {
          position: absolute;
          top: 9px;
          right: 9px;
          margin: 0;
        }
        &-more {
          &-icon {
            padding: 5px;
            margin: 0 0 7px 0;
            &:nth-child(3) {
              margin-bottom: 0;
            }
            &:last-child {
              position: absolute;
              bottom: 9px;
              left: 80px;
            }
          }
        }
        &-window {
          display: none;
        }
        &-address {
          position: absolute;
          top: calc(100% + 20px);
          width: calc(100% - 30px);
          left: 15px;
          box-sizing: border-box;
          text-align: left;
        }
      }
    }
  }
  .listingPage {
    &Next {
      right: 0;
    }
    &Prev {
      left: 0;
    }
    &__slider {
      &-outer {
        margin: 10px 0;
        padding: 0 15px;
      }
    }
    &__inner {
      &-header {
        &-side {
          flex-direction: column;
          -ms-flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
        &-btn {
          &.more {
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      &-body {
        &-side {
          .propertyAgent {
            &__inner {
              flex-direction: column;
              -ms-flex-direction: column;
              padding: 40px 0;
              &-header {
                margin: 0;
                width: 100%;
              }
              &-footer {
                margin: 0;
                width: 100%;
              }
              &-body {
                margin: 0;
                width: 100%;
              }
            }
          }
        }
      }
    }
    &__prefer {
      flex-wrap: wrap;
      &-icon {
        width: calc(50% - 20px);
        padding: 30px 10px;
        &:nth-of-type(even) {
          &::after {
            display: none;
          }
        }
      }
    }
    &__facility {
      &-icon {
        width: calc(33.3% - 30px);
      }
    }
    &__date {
      padding: 10px;
      .listingPage__title {
        text-align: center;
      }
      .listingPage__subtitle {
        text-align: center;
      }
      .listingPage__para {
        text-align: center;
      }
      &-row {
        flex-direction: column;
        -ms-flex-direction: column;
      }
      &-column {
        width: 100%;
        max-width: 190px;
        margin: 5px auto;
      }
      &-form {
        &-row {
          &-4 {
            flex-wrap: wrap;
            justify-content: center;
            span {
              display: none;
            }
          }
        }
        &-column {
          &-4 {
            width: calc(50% - 5px);
            margin: 2.5px;
          }
        }
      }
    }
    &__map {
      &-footer {
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: flex-start;

        &-info {
          margin: 10px 0 0 0;
        }
      }
    }
    &__energy {
      overflow: hidden;
      .listingPage__title {
        text-align: center;
      }
      .listingPage__para {
        text-align: center;
      }
    }
  }
  .modal {
    &__inner {
      padding: 20px;
      .login {
        h4 {
          font-size: 24px;
        }
      }
    }
    &.revealForm {
      .modal {
        &__inner {
          max-width: 570px;
          padding: 20px;
          width: calc(100% - 70px);
        }
      }
    }
  }
  .revealForm {
    &__body {
      &-row {
        margin: 0;
      }
      &-column {
        &-3 {
          margin: 10px 0;
          width: 100%;
          &:nth-child(2) {
            width: 100%;
          }
        }
        &-2 {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
    &__footer {
      .btn__primary {
        max-width: 90px;
        min-width: unset;
      }
      .btn__secondary {
        max-width: 135px;
        min-width: unset;
      }
    }
  }
  // listing page end
}
@include sm-md {
  // // valuation start
  .form {
    &__inner {
      &-tab {
        &-window {
          &-body {
            &-gender {
              justify-content: center;
            }
          }
          &-header {
            li {
              width: 26px;
              height: 26px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  // // valuation end
  // login pages start
  .loginPages {
    &__content {
      width: calc(100% - 40px);
      max-width: unset;
      padding: 40px 20px;
      margin: unset;
    }
  }
  .loginForm {
    &__type {
      &-radio {
        label {
          padding: 6px 10px;
        }
      }
    }
  }
  // login pages end
  // agentRegistration page start
  .businessAgent {
    h4 {
      font-size: 28px;
    }
  }
  .testimonialAgent__slider-item-content-para {
    font-size: 20px;
  }
  .introAgent h2 {
    font-size: 44px;
  }
  .aboutAgent h3 {
    font-size: 32px;
  }
  .whyAgent h3 {
    font-size: 32px;
  }
  .testimonialAgent h3 {
    font-size: 32px;
  }
  // agentRegistration page end
  // agentRegistrationForm page start
  .agentHeader {
    padding: 20px 0;
  }
  .agentForm {
    padding: 20px 0;
    &__form {
      &-content {
        &-header {
          margin-bottom: 20px;
        }
        &-column-3 {
          width: calc(100% - 24px);
          margin: 0 12px 8px 12px;
          &:last-child {
            margin: 0 12px;
          }
        }
      }
    }
    .upload {
      flex-direction: column;
      -ms-flex-direction: column;
      &__image {
        width: 100%;
        max-width: 350px;
        height: 350px;
      }
      &__content {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
  // agentRegistrationForm page end
  // realEstate page start
  .realEstate {
    &__header {
      &-sort {
        &-btn {
          white-space: nowrap;
        }
        &-row {
          width: 100%;
          overflow-x: scroll;
          /* Hide scrollbar for Chrome, Safari and Opera */
          &::-webkit-scrollbar {
            display: none;
          }

          /* Hide scrollbar for IE, Edge and Firefox */
          & {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
          }
        }
      }
    }
    &__table {
      &-row {
        padding: 10px 30px 20px 30px;
      }
      &-column {
        &:last-child {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          -ms-flex-direction: column;
          margin: 10px 0 0 0;
        }
        .btn__primary {
          margin: 5px 0;
        }
        .btn__secondary {
          margin: 5px 0;
        }
      }
    }
  }
  // realEstate page end
  // agentProfile page start
  .agentProfile {
    &__tab {
      &-body {
        .row__3 {
          margin: 0 -5px;
          &-column {
            width: calc(50% - 10px);
            margin: 5px;
          }
        }
      }
    }
    .card {
      &__inner {
        &-slider {
          &-item {
            height: 150px !important;
          }
        }
      }
    }
  }
  .card__inner-body-price.agentProfileCard {
    font-size: 18px;
  }
  // agentProfile page end
}
@include xsm-sm {
  .loginPages {
    &__content {
      padding: 20px 12px;
      width: calc(100% - 24px);
    }
  }
  .login {
    &__inner {
      &-footer {
        padding: 20px 0;
        .btn__primary {
          width: 100px !important;
        }
        .btn__secondary {
          width: 100px !important;
        }
      }
    }
    h4 {
      font-size: 28px;
    }
    p {
      font-size: 14px;
    }
  }
  .upload {
    &__image {
      width: 100px;
      height: 100px;
      &-id {
        width: 100px;
        height: 100px;
      }
    }
    &__content {
      width: calc(100% - 120px);
      padding-left: 20px;
    }
  }
  // realEstate page start
  .realEstate__table-row {
    padding: 10px;
  }
  // realEstate page end\
  // agentProfile page start
  .agentProfile {
    &__tab {
      &-body {
        .row__3 {
          margin: 0;
          flex-direction: column;
          -ms-flex-direction: column;
          &-column {
            width: 100%;
            margin: 5px 0;
          }
        }
      }
    }
  }
  // agentProfile page end
  .result {
    &__body {
      &-inner {
        &.listingResult {
          .row__3 {
            flex-direction: column;
            -ms-flex-direction: column;
            &-column {
              margin: 5px 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .modal {
    &__inner {
      width: calc(100% - 30px);
      padding: 20px 10px;
      &-title {
        font-size: 20px;
      }
    }
    &.revealForm {
      .modal {
        &__inner {
          width: calc(100% - 30px);
          padding: 20px 10px;
        }
      }
    }
  }
}
