.revealForm {
  &__body {
    &-row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0 -10px;
    }
    &-column {
      &-3 {
        margin: 10px;
        width: calc(33.3% - 20px);
      }
      &-2 {
        margin: 10px;
        width: calc(50% - 20px);
      }
      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #5f5f5f;
        margin-bottom: 20px;
      }
      &-card {
        box-shadow: 0px 15px 25px rgba(85, 108, 130, 0.1);
        background: $white;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
      }
    }
  }
  &__info {
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 140%;
      color: #5f5f5f;
      margin: 20px 0 10px 0;
    }
    &-box {
      display: none;
      animation: book 0.2s linear;
      position: relative;
      &-2 {
        display: none;
        animation: book 0.2s linear;
        position: relative;
      }
      &-3 {
        display: none;
        animation: book 0.2s linear;
        position: relative;
      }
      &-4 {
        display: none;
        animation: book 0.2s linear;
        position: relative;
      }
      label {
        display: block;
        margin: 0 0 3px 0;
      }
      &-subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: #222222;
        margin-bottom: 20px;
      }
      //   input[type="radio"]:checked ~ &,
      //   input[type="checkbox"]:checked ~ & {
      //     display: block;
      //     animation: book 0.2s linear;
      //   }
      .input__outer {
        margin-bottom: 10px;
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 140%;
          color: #868686;
        }
      }
      .select__outer {
        margin-bottom: 10px;
      }
      &-pdf {
        position: relative;
        padding: 8px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #34c0e3;
        @include transition;
        border: 1px solid #34c0e3;
        border-radius: 4px;
        margin-top: 20px;
        &:hover {
          color: $main-2;
          background: $main-6;
          box-shadow: 4px 4px 10px rgba(34, 67, 152, 0.14);
        }
        img {
          position: absolute;
          top: 50%;
          @include transformY;
          left: 20px;
        }
        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    &-check {
      width: 50%;
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        &:checked ~ label::before {
          opacity: 1;
        }
        &:checked ~ label::after {
          border: 1px solid #4178e5;
        }
      }
      label {
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: #222222;
        padding-left: 24px;
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          border: 1px solid #b7b7b7;
          box-sizing: border-box;
          @include transformY;
          @include transition;
        }
        &::before {
          position: absolute;
          content: "";
          width: 7px;
          height: 7px;
          background: #4178e5;
          border-radius: 50%;
          @include transition;
          opacity: 0;
          top: 50%;
          left: 3px;
          @include transformY;
        }
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    .btn__primary {
      min-width: 120px;
      font-size: 16px;
    }
    .btn__secondary {
      min-width: 220px;
    }
  }
}
