.star {
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__group {
    display: flex;
    align-items: center;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 1;
      color: $black-2;
      margin-left: 5px;
      display: block;
    }
  }
  svg {
    fill: $grey-2;
  }
  &.active {
    svg {
      fill: $warning;
    }
  }
}
