.upload {
  display: flex;
  align-items: center;
  margin: 20px 0;
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: $black-1;
    margin: 20px 0 -12px 0;
  }
  &__image {
    width: 200px;
    height: 200px;
    background: $white;
    position: relative;
    &-uploaded {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
        &.show {
          @include fullImage;
        }
      }
    }
    &-id {
      width: 200px;
      height: 140px;
      background: $white;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      &-uploaded {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 70px;
          &.show {
            @include fullImage;
          }
        }
      }
    }
  }
  &__content {
    width: calc(100% - 230px);
    padding-left: 30px;
    max-width: 160px;
    &-text {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 140%;
      color: #b7b7b7;
      margin-top: 10px;
    }
    &-file {
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
  &Secondary {
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: $black-2;
      margin-bottom: 10px;
    }
    &__footer {
      margin-top: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: $grey;
    }
    &__input {
      width: 100%;
      height: 200px;
      position: relative;

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: $grey-1;
        background: #fcfcfc;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 10px;
      }
      img {
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 10px;
        @include fullImage;
        display: none;
        &.show {
          display: block;
        }
      }
    }
    &__thanks {
      background: #effff4;
      border: 1px solid #1ac654;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      -ms-flex-direction: column;
      padding: 55px 0;
      display: none;
      position: relative;
      animation: 0.2s book linear;
      &.show {
        display: flex;
      }
      p {
        font-size: 14px;
        line-height: 140%;
        color: $grey;
        text-align: center;
        width: 80%;
      }
      h6 {
        margin-bottom: 8px;
        color: $grey;
        text-align: center;
      }
    }
  }
}
